//colors
@bgcolor: rgba(255, 255, 255, 1); // white (#ffffff)

@btn-border: rgba(68, 68, 68, 1); // (#444444)
@btn-bgcolor: rgba(255, 255, 255, 1); // white (#ffffff)
@btn-color: rgba(68, 68, 68, 1); // (#444444)
@btn-modalbg: rgba(99, 209, 187, 1);
@btn-modal: rgba(255, 255, 255, 1);
@btn-active: rgba(255, 255, 255, 0.3);

@link: rgba(0, 0, 0, 1); //black (#000000)
@link-hover: rgba(0, 0, 0, 0.6);
@link-active: rgba(0, 0, 0, 0.3);
@link-border: rgba(98, 209, 186, 1);

@catalog-item-border: rgba(236, 236, 236, 1);
@catalog-item-name: rgba(0, 0, 0, 1);
@catalog-desc-border: rgba(236, 236, 236, 1);

@comment-link-profile: rgba(0, 0, 0, 1);
@comment-btn-border: rgba(236, 236, 236, 1);
@comment-text: rgba(68, 68, 68, 1);

@contacts-text: rgba(68, 68, 68, 1);
@contacts-link: rgba(68, 68, 68, 1);
@contacts-link-hover: rgba(70, 193, 174, 1);
@contacts-link-active: rgba(70, 193, 174, 0.3);

@content-bg: rgba(249, 249, 249, 1);
@content-item-bg: rgba(99, 209, 187, 1);
@content-item-bg2: rgba(86, 195, 178, 1);
@content-item-font: rgba(255, 255, 255, 1);

@feature-week: rgba(99, 209, 187, 1);
@feature-text: rgba(68, 68, 68, 1);
@feature-table: rgba(236, 236, 236, 1);

@menu-item-border: rgba(236, 236, 236, 1);

@order-category: rgba(98, 209, 186, 1);
@order-category-bg: rgba(241, 241, 241, 1);
@order-title: rgba(99, 209, 187, 1);
@order-label: rgba(0, 0, 0, 1);
@order-label-hover: rgba(98, 209, 186, 1);
@order-label-active: rgba(0, 0, 0, 0.3);
@order-required: rgba(68, 68, 68, 1);
@order-border: rgba(0, 0, 0, 1);
@order-border-hover: rgba(98, 209, 186, 1);

@video-border: rgba(236, 236, 236, 1);
@video-desc: rgba(68, 68, 68, 1);

@footer-bg: rgba(241, 241, 241, 1);
@footer-border: rgba(229, 229, 229, 1);

@form-bg: rgba(241, 241, 241, 1);
@form-border: rgba(98, 209, 186, 1);

@modal-overlay: rgba(255, 255, 255, 0.9);
@modal-border: rgba(198, 198, 198, 1);
@modal-label: rgba(236, 236, 236, 1);
@modal-label-hover: rgba(199, 199, 199, 1);
@modal-label-active: rgba(98, 209, 186, 1);

//breakpoints
@tablet-width: ~"(min-width: 768px)";
@desktop-width: ~"(min-width: 1150px)";
