//colors
@bgcolor: rgba(255, 255, 255, 1); // white (#ffffff)

@btn-border: rgba(68, 68, 68, 1); // (#444444)
@btn-bgcolor: rgba(255, 255, 255, 1); // white (#ffffff)
@btn-color: rgba(68, 68, 68, 1); // (#444444)
@btn-modalbg: rgba(99, 209, 187, 1);
@btn-modal: rgba(255, 255, 255, 1);

@link: rgba(0, 0, 0, 1); //black (#000000)
@link-hover: rgba(0, 0, 0, 0.6);
@link-active: rgba(0, 0, 0, 0.3);

@catalog-item-border: rgba(236, 236, 236, 1);
@catalog-item-name: rgba(0, 0, 0, 1);
@catalog-desc-border: rgba(236, 236, 236, 1);

@comment-link-profile: rgba(0, 0, 0, 1);
@comment-btn-border: rgba(236, 236, 236, 1);

@content-bg: rgba(249, 249, 249, 1);
@content-item-bg: rgba(99, 209, 187, 1);
@content-item-bg2: rgba(86, 195, 178, 1);
@content-item-font: rgba(255, 255, 255, 1);

@feature-week: rgba(99, 209, 187, 1);
@feature-tabletd: rgba(236, 236, 236, 1);

@menu-item-border: rgba(236, 236, 236, 1);

@order-category: rgba(98, 209, 186, 1);
@order-title: rgba(99, 209, 187, 1);

@video-border: rgba(236, 236, 236, 1);

@footer-bg: rgba(241, 241, 241, 1);

@form-bg: rgba(241, 241, 241, 1);
//breakpoints
@tablet-width: ~"(min-width: 768px)";
@desktop-width: ~"(min-width: 1149px)";
