.about {
  margin-bottom: 50px;

  &::before {
    content: "";
    width: 100%;
    height: 7px;
    display: block;
    background-image: url("../img/bg-zigzag-line.svg");
    background-size: contain;
    background-repeat: repeat-x;
    margin-bottom: 27px;
  }
}

.about__inner {
  .container();
}

.about__title {
  font-size: 25px;
  font-weight: bold;
  line-height: 30px;
  margin: 0;
}

.about__list {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 0;
}

.about__item {
  font-size: 17px;
  font-weight: bold;
  line-height: 20px;
  padding-top: 52px;
  position: relative;
  margin-top: 32px;

  &--materials svg {
    position: absolute;
    top: 0;
    left: 5px;
    width: 33px;
    height: 38px;
  }

  &--style svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 47px;
    height: 27px;
  }

  &--like svg {
    position: absolute;
    top: 3px;
    left: 5px;
    width: 34px;
    height: 27px;
  }

  &--manual svg {
    position: absolute;
    top: 0;
    left: 5px;
    width: 35px;
    height: 34px;
  }

  &--support svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 55px;
    height: 23px;
  }

  &--box svg {
    position: absolute;
    top: 0;
    left: 5px;
    width: 33px;
    height: 32px;
  }
}

@media @tablet-width {
  .about {
    margin-bottom: 60px;

    &::before {
      height: 17px;
      margin-bottom: 50px;
    }
  }

  .about__title {
    font-size: 43px;
    font-weight: bold;
    line-height: 50px;
    margin-bottom: 20px;
  }

  .about__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .about__item {
    width: 50%;
    font-size: 20px;
    font-weight: bold;
    line-height: 22px;
    margin-bottom: 26px;
  }

  .about__item:nth-child(1) {
    order: -8;
  }

  .about__item:nth-child(4) {
    order: -7;
  }

  .about__item:nth-child(2) {
    order: -6;
  }

  .about__item:nth-child(5) {
    order: -5;
  }
}

@media @desktop-width {
  .about {
    margin-bottom: 65px;

    &::before {
      height: 23px;
      margin-bottom: 60px;
    }
  }

  .about__inner {
    padding: 0 225/1150*100%;
  }

  .about__title {
    font-size: 53px;
    font-weight: bold;
    line-height: 57px;
  }
}
