.about {
  padding: 30px;
}

.about__title {
  font-size: 25px;
  font-weight: bold;
  line-height: 30px;
}

.about__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.about__item {
  font-size: 17px;
  font-weight: bold;
  line-height: 20px;
  padding-top: 10px;
}
