.catalog {
  margin-bottom: 30px;
  .container() ;
}

.catalog-item {
  margin: 30px 0;
  border: 1px solid @catalog-item-border;
  padding-bottom: 20px;
}

.catalog-item__name {
  display: block;
  font-size: 17px;
  font-weight: bold;
  line-height: 24px;
  text-decoration: none;
  color: @catalog-item-name;
  margin: 30px 30px 10px 30px;
}

.catalog-item__desc {
  font-size: 13px;
  font-weight: 400;
  line-height: 30px;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 20px;
  padding-bottom: 30px;
  border-bottom: 1px solid @catalog-desc-border;
}

.catalog-item__price {
  margin: 30px;
  font-size: 15px;
  font-weight: bold;
  line-height: 24px;
}

@media @tablet-width {
  .catalog-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .catalog-item__photo {
    width: 50%;
  }
}

@media @desktop-width {
  .catalog__inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .catalog-item {
    flex-direction: column;
    justify-content: flex-start;
    width: 315px;
    min-height: 658px;
  }

  .catalog-item__photo {
    width: 100%;
  }
}
