.comment {
  margin-bottom: 45px;
}

.comment__inner {
  margin-bottom: 40px;
  max-width: @max-width;
  margin: 0 auto;
}

.comment__wrap {
  .container();
}

.comment__title {
  font-size: 25px;
  font-weight: bold;
  line-height: 30px;
  margin: 0;
  margin-bottom: 25px;
}

.comment__item {
  margin-bottom: 30px;
}

.comment__text {
  font-size: 15px;
  font-weight: 400;
  line-height: 30px;
  color: @comment-text;
  margin: 0;
  margin-bottom: 30px;
}

.comment__user {
  margin-bottom: 30px;
}

.comment__author {
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
  font-style: normal;
}

.comment__link {
  font-size: 17px;
  font-weight: 400;
  line-height: 30px;
  display: block;
  color: @link;
  text-decoration: none;
}

.comment__slider {
  display: flex;
  position: relative;
  margin-bottom: 38px;
  border: solid 1px @comment-btn-border;
  font-size: 0;

  &::after {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: 50%;
    height: 50px;
    border-right: 1px solid @comment-btn-border;
  }
}

.comment__slider-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 50px;
  position: relative;
  font-size: 0;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

@media @tablet-width {
  .comment__inner {
    background-color: @bgcolor;
    background-image: url("../img/review@1x.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 457px;
    margin-bottom: 65px;

    @media @retina-tablet {
      background-image: url("../img/review@2x.jpg");
    }
  }

  .comment__wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 77px;
    padding-bottom: 15px;
  }

  .comment__title {
    font-size: 43px;
    font-weight: bold;
    line-height: 50px;
    margin-bottom: 48px;
    order: -5;
  }

  .comment__item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    margin-bottom: 0;
  }

  .comment__text {
    font-size: 17px;
    font-weight: 400;
    line-height: 30px;
    margin: 0;
    margin-bottom: 58px;
  }

  .comment__author {
    font-size: 17px;
    font-weight: bold;
    line-height: 24px;
    margin-bottom: 5px;
  }

  .comment__slider {
    width: 175px;
    align-self: flex-end;
    border: none;

    &::after {
      display: none;
    }
  }

  .comment__btn {
    order: -4;
    width: 175px;
    align-self: flex-start;
  }
}

@media @desktop-width {
  .comment__inner {
    background-position: 50px 0;
    background-size: contain;
    margin-bottom: 70px;

    @media @retina-desktop {
      background-image: url("../img/review@2x.jpg");
    }
  }

  .comment__wrap {
    padding-top: 70px;
  }

  .comment__text {
    margin-bottom: 40px;
    margin-right: 100px;
  }

  .comment__item {
    padding-left: 175/1050*100%;
  }

  .comment__title {
    font-size: 53px;
    font-weight: bold;
    line-height: 57px;
    padding-left: 175/1050*100%;
  }

  .comment__btn {
    margin-top: 8px;
  }
}
