.comment {
  min-height: 457px;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
}
.comment__title {
  font-size: 25px;
  font-weight: bold;
  line-height: 30px;
}

.comment__text {
  font-size: 14px;
  line-height: 30px;
}

.comment__user {
  margin-bottom: 30px;
}

.comment__author {
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
  font-style: normal;
}

.comment__profile {
  color: @comment-link-profile;
  text-decoration: none;
  display: block;
}

.comment__slider {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.comment__btn {
  min-height: 50px;
  border: 1px solid @comment-btn-border;
  flex-grow: 1;
  font-size: 0;
  position: relative;
}

.comment__btn--prev::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translateY(-50%);
  width: 51px;
  height: 26px;
  background: url("../img/icon-left-arrow.svg") no-repeat;
}

.comment__btn--next::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 30%;
  transform: translateY(-50%);
  width: 51px;
  height: 26px;
  background: url("../img/icon-right-arrow.svg") no-repeat;
}

@media @tablet-width {
  .comment {
    background: url("../img/review@1x.jpg") no-repeat;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .comment__title {
    order: -2;
    align-self: flex-start;
  }
  .comment__item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .comment__btn {
    order: -1;
    align-self: flex-start;
  }
}
