.contacts__header,
.contacts__address,
.contacts__btn-wrap {
  .container();
}

.contacts__title {
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
  margin: 0;
  margin-bottom: 35px;
}

.contacts__flag {
  display: none;
}

.contacts__table {
  width: 100%;
  border-collapse: collapse;
}

.contacts__row {
  display: flex;
  margin-bottom: 40px;
}

.contacts__cell {
  display: flex;
  font-size: 15px;
  font-weight: 400;
  line-height: 30px;
  color: @contacts-text;

  &--pad {
    width: 70/260*100%;
  }
}

.contacts__link {
  font-size: 17px;
  font-weight: 400;
  line-height: 30px;
  color: @contacts-text;
  border-bottom: 1px solid @link-border;
  text-decoration: none;

  &:hover {
    color: @contacts-link-hover;
  }

  &:active {
    color: @contacts-link-active;
    border-bottom: 1px solid @contacts-link-active;
  }
}

.contacts__map {
  margin-bottom: 40px;
  min-height: 457px;
  font-size: 0;
}

.contact__btn {
  margin-bottom: 40px;
}

@media @tablet-width {
  .contacts__title {
    font-size: 43px;
    font-weight: bold;
    line-height: 50px;
  }

  .contacts__flag {
    display: block;
  }

  .contacts__header {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
  }

  .contacts__table tbody {
    display: flex;
  }

  .contacts__row {
    width: 50%;
  }

  .contacts__cell {
    font-size: 17px;
    font-weight: 400;
    line-height: 30px;

    &--pad {
      width: 70/334*100%;
    }
  }

  .contacts__link {
    align-self: flex-start;
  }

  .contact__btn {
    display: block;
    width: 230px;
    margin: 0 auto;
    margin-bottom: 40px;
  }
}

@media @desktop-width {
  .contacts__inner {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 80px;
    min-height: 457px;
  }

  .contacts__header {
    flex-direction: row-reverse;
    align-items: center;
    padding-top: 62px;
    margin: 0;
    width: 50%;
  }

  .contacts__title {
    font-size: 53px;
    font-weight: bold;
    line-height: 57px;
    width: 64%;
    margin: 0;
  }

  .contacts__flag {
    width: 36%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .contacts__address {
    width: 50%;
    margin: 0;
    box-sizing: border-box;
    display: flex;
  }

  .contacts__table tbody {
    flex-direction: column;
    padding-left: 36%;
  }

  .contacts__row {
    width: 100%;
  }

  .contacts__map {
    width: 50%;
    padding-right: 50/1150*100%;
    position: absolute;
    max-width: 552px;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: hidden;
    box-sizing: border-box;
  }

  .contacts__btn-wrap {
    margin: 0;
    width: 50%;
    box-sizing: border-box;
  }

  .contact__btn {
    margin: 0;
    margin-left: 36%;
  }
}
