.contacts__title {
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
  padding: 30px;
}

.contacts__email {
  padding-left: 30px;
  padding-right: 30px;
}

.contacts__address {
  padding-left: 30px;
  padding-right: 30px;
}
