.order {
  padding: 30px;
}

.order__desc {
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
}

.order__category {
  border: 0;
  border-top: 1px solid @order-category;
}

.order__legend {
  margin-left: -25px;
  padding: 10px;
  text-transform: uppercase;
  color: @order-title;
  font-size: 17px;
  font-weight: bold;
  line-height: 16px;
}

.order__form .btn {
  width: 100%;
}
