.page-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: @footer-bg;
}

.page-footer__logo {
  display: none;
}

.social-btn {
  padding: 30px;
  display: inline-block;
  font-size: 0;
  &--in {
    background: url("../img/icon-insta.svg") no-repeat 50% 50%;
  }
  &--fb {
    background: url("../img/icon-fb.svg") no-repeat 50% 50%;
  }
  &--tw {
    background: url("../img/icon-twitter.svg") no-repeat 50% 50%;
  }
}

@media @tablet-width {
  .page-footer {
    flex-direction: row;
    justify-content: space-between;
  }
  .page-footer__logo {
    display: block;
  }
}
