.page-header {
  text-align: center;
}

.page-header__hidden {
  display: none;
}

.page-header__logo {
    display: inline-block;
    text-align: center;

    &:hover {
      opacity: 0.6;
      cursor: pointer;
    }
    &:active {
      opacity: 0.3;
    }
}
